<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/js.js"></script>
</head>
<body>
<!-- 头部开始 -->
<div class="toubu"> 
    <div class="toubu-left">
        <a href=""><img src="images/logo.png" alt=""></a>
    </div>
    <div class="toubu-right">
        <a href=""><img src="images/01_03.png"  alt=""></a>
        <a href=""><img src="images/01_05.png"  alt=""></a>
        <p>设置首页</p>
    </div>
</div>
<!-- 头部结束 -->

<!-- 导航开始 -->
<div class="daohang">
    <div class="daohang-box">
         <div class="daohang-box-left">
            <a href="" class="black">首页</a>
            <a href="">宠物生活</a>
            <a href="">宠物资讯</a>
            <a href="">宠物健康</a>
            <a href="">宠物行为</a>
            <a href="">宠物视频</a>
         </div>
         <form action="">
            <button></button>
            <input type="text">
         </form>
    </div>    
</div>
<!-- 导航结束 -->
<!-- 内容开始 -->
<div class="neirong-box1">
    <div class="neirong-box1-1">
        <a href=""><img src="images/f2b2b2e714954839a663c94afdb77b2c20161209115115.jpg" alt=""></a>
        <p>爱懒床的金毛四兄弟</p>
    </div>
    <div class="neirong-box1-2">
        <div class="neirong-box1-2-1">
            <a href=""><img src="images/666836910d5a4e09a1502e7f7a744d4d20161209115133.jpg" alt=""></a>
            <p>爱懒床的金毛四兄弟</p>
        </div>
        <div class="neirong-box1-2-1">
            <a href=""><img src="images/48428b3e81154eea9dc319a8912b186820161209115143.jpg" alt=""></a>
            <p>爱懒床的金毛四兄弟</p>
        </div>
        <div class="neirong-box1-2-1 top">
            <a href=""><img src="images/720ea4bba7d94dce94e32ea7f1640a1e20161208150426.jpg" alt=""></a>
            <p>爱懒床的金毛四兄弟</p>
        </div>
        <div class="neirong-box1-2-1 top">
            <a href=""><img src="images/f10694097ffe474f8f81d92f215ffca420161208150415.jpg" alt=""></a>
            <p>爱懒床的金毛四兄弟</p>
        </div>
    </div>
</div>
<div class="neirong-box2">
    <div class="neirong-box2-left">
        <div class="zuixin">
            <p class="zuixin-1"></p>
            <p class="zuixin-2">最新<span>NEWS</span></p>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a.jpg" alt="">
            <h2>摄影师捕捉豹纹陆龟羞羞过程</h2>
            <p>据悉，陆龟交配后会在数分钟内射精，雄性会慢慢离开雌性，如果受孕成功，可以孕育出约5～18颗蛋</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_006.jpg" alt="">
            <h2>摄影师捕捉豹纹陆龟羞羞过程</h2>
            <p>据悉，陆龟交配后会在数分钟内射精，雄性会慢慢离开雌性，如果受孕成功，可以孕育出约5～18颗蛋</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_008.jpg" alt="">
            <h2>摄影师捕捉豹纹陆龟羞羞过程</h2>
            <p>据悉，陆龟交配后会在数分钟内射精，雄性会慢慢离开雌性，如果受孕成功，可以孕育出约5～18颗蛋</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
    </div>
    <div class="neirong-box2-right">
        <div class="tab-jquery">
        <ul>
            <li class="ion">测评中心</li>
            <li>人物访谈</li>
        </ul>
        <div class="tab-jquery-box" style="display:block;" >
            <img src="images/2015080517402458075.jpg" alt="">
            <p>大牌试吃第六期《Zeal小牛尾骨》</p>
        </div>
        <div class="tab-jquery-box">
            <img src="images/20150706134216accfb.png" alt="">
            <p>大牌试吃第六期《Zeal小牛尾骨》</p>
        </div>
    </div>

    </div>
</div>
<div class="neirong-bxo3">
    <div class="neirong-box3-left">
        <div class="zuixin">
            <p class="zuixin-1 bg"></p>
            <p class="zuixin-2">生活<span>LIFE</span></p>
        </div>
        <div class="shenghuo-box1">
            <h2>训练狗狗学会拒食 让出行更安全</h2>
            <img src="images/a_012.jpg" alt="">
        </div>
        <div class="shenghuo-box2">
            <img src="images/a_007.jpg" alt="">
            <h2>能翻译汪语言的狗狗智能穿戴设备 TailTalk</h2>
            <p>TailTalk的传感技术原理是基于意大利巴里大学Giorgio Vallortigara 及 Angelo Quaranta 两位教授发表的犬类动物研究论文。</p>
        </div>
        <div class="shenghuo-box3">
            <img src="images/a_005.jpg" alt="">
            <h2>Meyou简约风格猫家具 猫窝也能有格调</h2>
            <p>我们都会非常注意自己的所有物和家具的美感，然而却往往会忽略宠物家具的风格，事实上宠物家具也是我们生活环境中不可分割的一部分。</p>
        </div>
    </div>
</div>
<div class="neirong-box2">
    <div class="neirong-box2-left">
        <div class="zuixin">
            <p class="zuixin-1 gb-1"></p>
            <p class="zuixin-2">健康<span>HEAL</span></p>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_011.jpg" alt="">
            <h2>夏季 如何让狗狗的饮食更健康？</h2>
            <p>其实吃的多与不多，爱吃与不爱吃并不是问题的关键，关键在于让狗狗在夏天不会因为饮食的问题影响到健康。</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_003.jpg" alt="">
            <h2>狗狗到底适合喝什么奶？</h2>
            <p>羊奶中含有比牛奶更丰富的蛋白质、钙、磷、维生素A、B等营养成分，能够更好的补充营养，其特有的EGF因子还有益于肠胃及呼吸道健康。</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_002.jpg" alt="">
            <h2>导致狗狗肥胖病的原因有哪些？</h2>
            <p>遗传有些狗只具有先天易肥的倾向，如拉布拉多寻回犬、比高犬、巴色特犬和猎肠犬，都属这一类。</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
    </div>
    <div class="neirong-box2-right">
        <h1><img src="images/01_17.png" alt="">问一问好主人</h1>
        <img src="images/01_21.png" alt="">
        <h3>关注"网易好主人"公众号养宠更轻松</h3>
        <p>·猫咪多穰肾是什么？</p>
        <p>·狗狗咬伤人怎么办？</p>
        <p>·狗狗中暑怎么办？</p>
        <span></span>
        <li class="zd"><img src="images/01_25.png" alt="">扫描二维码提问</li>
    </div>
</div>
<div class="neirong-box4">
    <div class="zuixin">
        <p class="zuixin-1 bg-3"></p>
        <p class="zuixin-2">视频<span>VIDEO</span></p>
    </div>
</div>
<div class="neirong-box5">
    <div class="neirong-box1">
        <div class="neirong-box1-1">
            <a href=""><img src="images/20150908110455507c7.jpg" alt=""></a>
            <p>爱懒床的金毛四兄弟</p>
            <img src="images/51.png" alt="" class="bo-1">
        </div>
        <div class="neirong-box1-2">
            <div class="neirong-box1-2-1">
                <a href=""><img src="images/20150906150948222ec.jpg" alt=""></a>
                <p>爱懒床的金毛四兄弟</p>
                <img src="images/51.png" alt="" class="bo">
            </div>
            <div class="neirong-box1-2-1">
                <a href=""><img src="images/2015090615060868042.jpg" alt=""></a>
                <p>爱懒床的金毛四兄弟</p>
                <img src="images/51.png" alt="" class="bo">
            </div>
            <div class="neirong-box1-2-1 top">
                <a href=""><img src="images/2015082610264999a30.jpg" alt=""></a>
                <p>爱懒床的金毛四兄弟</p>
                <img src="images/51.png" alt="" class="bo">
            </div>
            <div class="neirong-box1-2-1 top">
                <a href=""><img src="images/201508261025211dd02.jpg" alt=""></a>
                <p>爱懒床的金毛四兄弟</p>
                <img src="images/51.png" alt="" class="bo">
            </div>
        </div>
    </div>
</div>
<div class="neirong-box2">
    <div class="neirong-box2-left">
        <div class="zuixin">
            <p class="zuixin-1 bg-4"></p>
            <p class="zuixin-2">行为<span>BEHAVIOR</span></p>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_009.jpg" alt="">
            <h2>流浪猫闯进大黑熊宿舍成为好朋友</h2>
            <p>据了解，这只流浪的黑猫是几个月前出现在动物园，保育员们也给它取了名字，叫做小熊，其实没有人知道它打哪来，也不知道究竟是男生还是女生。</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_010.jpg" alt="">
            <h2>总有些狗 对屎念念不忘</h2>
            <p>如果有定时驱虫和打预防针可以把伤害减到最小，但下面所说的处理方式不见得对每只狗狗都有效，主人可能要具体狗狗具体分析，耐心尝试。</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_004.jpg" alt="">
            <h2>研究发现野猪天生具有“磁性罗盘”</h2>
            <p>研究报告作者罗斯拉夫．塞尔维尼（Jaroslav Cerveny）指称，野猪天生具有较好的导航能力，如果它们体内真的有着磁性罗盘，将也不足为奇。</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
    </div>
    <div class="neirong-box2-right cc">
        <a href=""><img src="images/20150706134216accfb.png" alt=""></a>
        <h3>---《我的宠物朋友》---</h3>
    </div>
</div>
<!-- 内容结束 -->

<!-- 底部开始 -->
<div class="dibu">
    <div class="dibu-box">
        <img src="images/logo-white.png" alt="">
        <div class="dibu-bxo-1">
            <a href="">联系我们</a>
            <a href="">关于我们</a>
            <a href="">新浪微博</a>
            <a href="">商务合作</a>
            <a href="">微信公众号</a>
            <p>网易公司版权所有</p>
        </div>
    </div>
</div>
<!-- 底部结束 -->
</body>
</html>