extends ../layouts/base
block content
    .content
        .wrapper(style='background:url(http://micourse.net/Public/img/homeImg.png)')
            .container
                .row
                    .wrapper-intro.col-xs-0.col-sm-6.col-md-8.col-lg-8
                        img(src='http://micourse.net/Public/img/MiLogo.png')
                        br
                        img(src='http://micourse.net/Public/img/miTitle.png')
                    .log-or-sign.col-xs-12.col-sm-6.col-md-4.col-lg-4
                        ul.nav.nav-tabs
                            li.active
                                a(href='#login',data-toggle='tab')  登录
                            li
                                a(href='#signup',data-toggle='tab')  注册
                        .tab-content
                            form.tab-pane.fade.active.in#login
                                label.hidden 邮箱
                                input(type='email').form-control
                                label.hidden  密码
                                input(type='password').form-control
                                .checkbox
                                    label
                                        input(type='checkbox', checked) 
                                    | 记住我
                                    a.pull-right.forgot 忘记密码
                                button.btn.btn-lg.btn-primary.btn-block.login 登录
                            form.tab-pane.fade(action="/signup",method='post')#signup  
                                input(type='email',placeholder='你的邮箱',name='email').form-control
                                label.hidden  密码
                                input(type='password',name='password').form-control
                                button.btn.btn-lg.btn-primary.btn-block.login(type='submit') 注册


