<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/js.js"></script>
</head>
<body>
<!-- 头部开始 -->
<div class="toubu"> 
    <div class="toubu-left">
        <a href=""><img src="images/logo.png" alt=""></a>
    </div>
    <div class="toubu-right">
        <a href=""><img src="images/01_03.png"  alt=""></a>
        <a href=""><img src="images/01_05.png"  alt=""></a>
        <p>设置首页</p>
    </div>
</div>
<!-- 头部结束 -->

<!-- 导航开始 -->
<div class="daohang">
    <div class="daohang-box">
         <div class="daohang-box-left">
            <a href="" >首页</a>
            <a href="" class="black">宠物生活</a>
            <a href="">宠物资讯</a>
            <a href="">宠物健康</a>
            <a href="">宠物行为</a>
            <a href="">宠物视频</a>
         </div>
         <form action="">
            <button></button>
            <input type="text">
         </form>
    </div>    
</div>
<!-- 导航结束 -->

<!-- 内容开始 -->
<div class="live">
    <div class="live-box-left">
        <div class="neirong-box2-left-nr">
            <img src="images/a_019.jpg" alt="">
            <h2>训练狗狗学会拒食 让出行更加安全</h2>
            <p></p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_083.jpg" alt="">
            <h2>狗狗受伤严重如何为它检查伤势？</h2>
            <p>如果您的狗狗已经没有意识了，那么它伸直它的颈部，打开狗狗的口腔，取出最里面的残留物，轻轻地向前拉出舌头。</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_034.jpg" alt="">
            <h2>一个铲屎官要怎样科学的省钱？</h2>
            <p>无论新手还是老手，在养宠这条路上都逃不过“买买买，花花花”的状态，可是再有钱，咱也要理智的花不是？</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_043.jpg" alt="">
            <h2>什么样的运动适合懒波斯？</h2>
            <p>波斯猫全身覆盖着长长的毛，因此发胖也比较不容易被察觉；饲主们应该要养成每天抱抱它们、摸摸它们的习惯，以确认体重及各项身体状况有没有变化哦！</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_061.jpg" alt="">
            <h2>摄影小白怎么拍出高大上的宠物照？</h2>
            <p>无法为宠物拍出杂志模特般的美图是许多粑粑麻麻心中的痛。</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_087.jpg" alt="">
            <h2>为什么叫狗狗“毛孩子”？</h2>
            <p>家有“毛孩子”是一种什么样的体验？</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_080.jpg" alt="">
            <h2>狗狗身上异味重 你闻着醉了吗？</h2>
            <p>祛除狗狗身上的味道，仅仅用传统的宠物清洁浴液是完全不够的。一是狗狗不适宜频繁的冲洗，很有可能伤害它的皮肤</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
        <div class="neirong-box2-left-nr">
            <img src="images/a_080.jpg" alt="">
            <h2>狗狗身上异味重 你闻着醉了吗？</h2>
            <p>祛除狗狗身上的味道，仅仅用传统的宠物清洁浴液是完全不够的。一是狗狗不适宜频繁的冲洗，很有可能伤害它的皮肤</p>
            <div class="biaoqian">
                <a href="">陆龟</a>
                <a href="">豹纹</a>
                <a href="">威廉斯</a>
                <a href="">摄影师</a>
                <a href="">动物</a>
                <img src="images/01_13.png" alt="">
                <span>7</span>
            </div>
        </div>
    </div>
    <div class="live-box-right">
        <div class="live-box-right-1">
            <img src="images/wx-qrcode.png" alt="">
            <p>扫二维码关注好主人微信公众号，参与互动，为爱宠赢好礼</p>
        </div>
        <div class="live-box-right-2">
            <h3>热门文章</h3>
            <div class="live-box-liebiao">
                <a href=""><img src="images/20150923121226ba5c3.jpg" alt=""></a>
                <a href=""><p>中华白海豚搁浅死亡</p></a>
            </div>
            <div class="live-box-liebiao">
                <a href=""><img src="images/2015092210075889230.jpg" alt=""></a>
                <a href=""><p>日本“打滚猫”爆红</p></a>
            </div>
            <div class="live-box-liebiao">
                <a href=""><img src="images/20150923121406c8501.jpg" alt=""></a>
                <a href=""><p>会骑摩托的八哥犬</p></a>
            </div>
            <div class="live-box-liebiao">
                <a href=""><img src="images/20150918144944e9c2b.jpg" alt=""></a>
                <a href=""><p>垃圾堆里狗叼出弃婴</p></a>
            </div>
        </div>
    </div>
    <div class="jiazai">+加载更多</div>
</div>
<!-- 内容结束 -->

<!-- 底部开始 -->
<div class="dibu">
    <div class="dibu-box">
        <img src="images/logo-white.png" alt="">
        <div class="dibu-bxo-1">
            <a href="">联系我们</a>
            <a href="">关于我们</a>
            <a href="">新浪微博</a>
            <a href="">商务合作</a>
            <a href="">微信公众号</a>
            <p>网易公司版权所有</p>
        </div>
    </div>
</div>
<!-- 底部结束 -->
</body>
</html>