<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/js.js"></script>
</head>
<body>
<!-- 头部开始 -->
<div class="toubu"> 
    <div class="toubu-left">
        <a href=""><img src="images/logo.png" alt=""></a>
    </div>
    <div class="toubu-right">
        <a href=""><img src="images/01_03.png"  alt=""></a>
        <a href=""><img src="images/01_05.png"  alt=""></a>
        <p>设置首页</p>
    </div>
</div>
<!-- 头部结束 -->

<!-- 导航开始 -->
<div class="daohang">
    <div class="daohang-box">
         <div class="daohang-box-left">
            <a href="" >首页</a>
            <a href="" class="black">宠物生活</a>
            <a href="">宠物资讯</a>
            <a href="">宠物健康</a>
            <a href="">宠物行为</a>
            <a href="">宠物视频</a>
         </div>
         <form action="">
            <button></button>
            <input type="text">
         </form>
    </div>    
</div>
<!-- 导航结束 -->

<!-- 内容开始 -->
<div class="live">
    <div class="live-box-left">
        <div class="bt">
            <a href="" class="a1">好主人</a>
            <span class="s1">></span>
            <a href="" class="a2">正文</a>
            <h1>训练狗狗学会拒食 让出行更加安全</h1>
            <span class="s2">2016-08-08  18:46:40</span>
            <span class="s2">来源:宠毛网(台北)</span>
            <span class="s3">0</span>
            <img src="images/03_03.png" alt="" class="i1">
            <li></li>
        </div>
        <p>狗狗出门总喜欢东闻闻西舔舔，一个不小心就会吃到脏东西闹肚子是小，万一吃到有毒的东西丧了命那岂不是很严重。所以训练狗狗拒食是各位家长刻不容缓的大事哦。</p>
        <img src="images/20160808184619b42bc_550.png" alt="" class="i2">
        <h3>训练狗狗拒食之拒食他人食物</h3>
        <p>1．将吃的放在几处明显地方，然后牵爱犬到附近，并逐步靠近吃的。当狗表现出想吃时，马上严厉发出“非”的口令，并猛拉牵引带予以制止。当停止捡食后，应给予抚摸以示鼓励。然后继续带狗去另一个放吃的地方，采取同样方法训练。</p>
        <p>2．在这基础上，可将一些吃的分散在比较隐蔽的地方。改用训练绳，主人可离犬远一点，仍采取上面的方法进行训练，直到不需要训练绳，狗在自由活动中能根据口令立即停止拣食为止。为了不致使犬对口令的条件反射发生减弱或消退，应经常适当结合机械刺激予以强化。</p>
        <h3>训练狗狗拒食之拒食他人食物</h3>
        <p>1.将狗带到有人活动的场所，让朋友手持好吃的给狗狗吃，当狗表现想吃时，主人就轻击狗嘴。接着再给狗吃，再给予较强的刺激。此时，主人发出“叫”口令给狗助威，以激起狗的主动防御反应。经过如此训练，当狗能对给吃的人表示示威而不接受食物后，就采取将吃的扔到狗跟前而后离去的训练方法。当狗表现拣取吃的时候，主人立即发出“非”的口令，并猛拉牵引带予以刺激。</p>
        <p>2.当狗有了上面的基础后，就可进行脱离监督的拒食训练。方法是：主人先用牵引带把狗拴在固定地放，另外再用训练绳系在狗的脖圈上，将绳的另一端通到主人隐蔽的地方，主人用手牵绳，隐蔽监视犬的行动。当狗表示取食，主人应在隐蔽处发出“非”的口令，同时猛拉训练绳加以制止。如不拣食，主人应马上给狗奖励。</p>
        <p>END</p>
        <p>注意事项</p>
        <p>当狗有了上面的基础后，就可进行脱离监督的拒食训练。方法是：主人先用牵引带把狗拴在固定地放，另外再用训练绳系在狗的脖圈上，将绳的另一端通到主人隐蔽的地方，主人用手牵绳，隐蔽监视犬的行动。当狗表示取食，主人应在隐蔽处发出“非”的口令，同时猛拉训练绳加以制止。如不拣食，主人应马上给狗奖励。</p>
        <ul class="ul1">
            <span class="span1">本文来源:红毛网</span>
            <span class="span2">责任编辑:祝鑫柔_NQ5349 </span>
        </ul>
    </div>
    <div class="live-box-right">
        <div class="live-box-right-1">
            <img src="images/wx-qrcode.png" alt="">
            <p>扫二维码关注好主人微信公众号，参与互动，为爱宠赢好礼</p>
        </div>
        <div class="live-box-right-2">
            <h3>热门文章</h3>
            <div class="live-box-liebiao">
                <a href=""><img src="images/20150923121226ba5c3.jpg" alt=""></a>
                <a href=""><p>中华白海豚搁浅死亡</p></a>
            </div>
            <div class="live-box-liebiao">
                <a href=""><img src="images/2015092210075889230.jpg" alt=""></a>
                <a href=""><p>日本“打滚猫”爆红</p></a>
            </div>
            <div class="live-box-liebiao">
                <a href=""><img src="images/20150923121406c8501.jpg" alt=""></a>
                <a href=""><p>会骑摩托的八哥犬</p></a>
            </div>
            <div class="live-box-liebiao">
                <a href=""><img src="images/20150918144944e9c2b.jpg" alt=""></a>
                <a href=""><p>垃圾堆里狗叼出弃婴</p></a>
            </div>
        </div>
    </div>
</div>
<!-- 内容结束 -->

<!-- 底部开始 -->
<div class="dibu">
    <div class="dibu-box">
        <img src="images/logo-white.png" alt="">
        <div class="dibu-bxo-1">
            <a href="">联系我们</a>
            <a href="">关于我们</a>
            <a href="">新浪微博</a>
            <a href="">商务合作</a>
            <a href="">微信公众号</a>
            <p>网易公司版权所有</p>
        </div>
    </div>
</div>
<!-- 底部结束 -->
</body>
</html>