include ../mixins/flash-messages 
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
        title 万维科技互联网教育平台
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(href="/css/style.css" ,rel="stylesheet")
        link(href="/bootstrap/dist/css/bootstrap.min.css" , rel="stylesheet")
        block css
        block head
    body
        include navbar
        block intro
        +flash-messages(messages)    
        block content
        block script
            script(src='/jquery/dist/jquery.min.js')
            script(src='/bootstrap/dist/js/bootstrap.min.js')
    