* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(246, 246, 246);
}

.header {
    background: #fff;
    text-align: center;
    color: darkslategrey;
    padding: 15 0;
    font-weight: bold;
    font-family: "楷体";
    font-size: 30px;
}

.media-left img {
    width: 100px;
    height: 68px;
}

.media-list {
    background: #fff;
    margin: 20px 10px;
}

.media {
    padding: 10px 5px;
}

.media-heading {
    padding: 8px 0 0 8px;
    margin-top: 0;
    font-size: 18px;
}

.media-heading a {
    color: #555;
}